<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="./public/main.css" />
    <meta charset="utf-8">
    <title>Flight Dispatcher</title>
</head>

<body>
    <h1>FLYNOW Flight Dispatcher</h1>
    <header>

        <a class = "enterbtn" href="/flights">Enter Dispatch Portal</a>
        <a class = "enterbtn" >Enter Pilot Portal</a>
    </header>
</body>

</html>