<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Flight Dispatcher</title>
</head>

<body>
    <header>
        <h1>Welcome to the Flights</h1>
        <nav>
                    <a href="/flights">Enter Portal</a>
        </nav>
    </header>
</body>

</html>