body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(35, 38, 42);
    color: whitesmoke;
}

.backbtn{
    color: whitesmoke;
    border-radius: 4px;
    border:2px solid whitesmoke;
    padding: 10px 10px; 
    line-height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

input{
    margin: auto;
}

form{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 100px;
}

#cleared{
    display: inline-flex;
}

#check{
    transform: translate(10px, 0px);
}

#savebtn{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: rgb(35, 38, 42);
    border-radius: 4px;
    border:2px solid whitesmoke;
    padding: 10px 10px; 
    line-height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#deletebtn{
    transform: translate(0px, 10px);
    color: red;
    background-color: rgb(35, 38, 42);
    border-radius: 4px;
    border:2px solid red;
    padding: 10px 10px; 
    line-height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* Change the color of submit on hover */
input:hover {
    background-color: #ddd;
    color: black;
}

#savebtn:hover {
    background-color: #ddd;
    color: black;
}

#deletebtn:hover {
    background-color: #ddd;
    color: black;
}

/* Remove underline from visited links */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }